.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: linear-gradient(to bottom, #030109, #9b3838);
  color: white;
  z-index: 1;
}

.scroll-to-top .icon {
  margin-top: 10px;
  animation: scrollTop 0.5s alternate ease infinite;
}
@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}

.cursor-pointer {
  cursor: pointer;
}
